SmartFridge/SmartFridge/Web References/WebReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSmartFridge" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSmartFridge" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MyGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:complexType name="GroupDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDetails" nillable="true" type="tns:GroupDetails" />
  <xs:complexType name="OptionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Font" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notification" type="xs:boolean" />
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionDetails" nillable="true" type="tns:OptionDetails" />
  <xs:complexType name="ArrayOfAvailableGroceriesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableGroceriesDetails" nillable="true" type="tns:AvailableGroceriesDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableGroceriesDetails" nillable="true" type="tns:ArrayOfAvailableGroceriesDetails" />
  <xs:complexType name="AvailableGroceriesDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:float" />
      <xs:element minOccurs="0" name="Grocery" nillable="true" type="tns:GroceryDetails" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableGroceriesDetails" nillable="true" type="tns:AvailableGroceriesDetails" />
  <xs:complexType name="GroceryDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroceryDetails" nillable="true" type="tns:GroceryDetails" />
  <xs:complexType name="ArrayOfShoppingCartDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartDetails" nillable="true" type="tns:ShoppingCartDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartDetails" nillable="true" type="tns:ArrayOfShoppingCartDetails" />
  <xs:complexType name="ShoppingCartDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:float" />
      <xs:element minOccurs="0" name="Grocery" nillable="true" type="tns:GroceryDetails" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartDetails" nillable="true" type="tns:ShoppingCartDetails" />
  <xs:complexType name="ArrayOfRecipeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeDetails" nillable="true" type="tns:RecipeDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeDetails" nillable="true" type="tns:ArrayOfRecipeDetails" />
  <xs:complexType name="RecipeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDetails" nillable="true" type="tns:RecipeDetails" />
  <xs:complexType name="ArrayOfGroceryDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroceryDetails" nillable="true" type="tns:GroceryDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroceryDetails" nillable="true" type="tns:ArrayOfGroceryDetails" />
  <xs:complexType name="ArrayOfContainsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContainsDetails" nillable="true" type="tns:ContainsDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContainsDetails" nillable="true" type="tns:ArrayOfContainsDetails" />
  <xs:complexType name="ContainsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:float" />
      <xs:element minOccurs="0" name="Grocery" nillable="true" type="tns:GroceryDetails" />
      <xs:element minOccurs="0" name="RecipeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContainsDetails" nillable="true" type="tns:ContainsDetails" />
</xs:schema>